<!-- <div class="container row">
    <div class="col-md-12">
      <h1>Upload Image</h1>
    </div>
  </div>
  
  <div class="container row">
    <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">
  
      <img [src]="imgURL" height="200" *ngIf="imgURL">
    </div>
    <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload">
    </div>
  </div>
  <hr />
  <div class="container row">
    <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
    </div>
  </div>
  
  <div class="container row">
    <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
             name="name" />
    </div>
    <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">
  
    </div>
  </div>
  
  <div class="container row">
    <div class="col-md-12">
      <div *ngIf=retrievedImage>
        <img [src]="retrievedImage">
      </div>
    </div>
  </div>
   -->

   <div class="container mt-5">
      <div class="card  p-2" >
        <div class="row">
          <div class="col-6">
            <form #rentForm="ngForm" (ngSubmit)="addRent(rentForm)">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Rent Name"
              type="text"
              [(ngModel)]="rentPackage.rentName" name="rentName">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Rent Location"
              type="text"
              [(ngModel)]="rentPackage.rentLocation" name="rentLocation">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Price</mat-label>
              <input matInput placeholder="Rent Price"
              type="number"
              [(ngModel)]="rentPackage.rentPrice" name="rentPrice">
            </mat-form-field>

            <div align ="end">
              <button mat-stroked-button color="primary"  style="margin-right: 8px;">Clear</button>  
              <button  mat-stroked-button color="primary" type="submit">Add Rent</button>
            </div>
          </form>
          </div>

          <div class="col-6">
            <div>

              <div class="dropzone"
              style="display: none;"
              appDrag
              (files)="fileDropped($event)"
              >
                <div class="text-wrapper">
                  <div class="centered">
                    Drag and drop your file or 
                    <a (click)="selectFile.click()" class="browse-button">browse</a>
                     a file
                  </div>              
                </div>
              </div>

              <input type="file" multiple value="select" #selectFile
              
              (change)="onFileSelected($event)">
            </div>
            
            <div class="mt-5">
              <div class="row">
                <mat-grid-list cols="4" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let file of rentPackage.rentImages; let i = index">
                        <div style="position: relative;">
                          <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                            <img [src]="file.url"  width="100px" height="100px">
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
          </div>

        </div>

      </div>
   </div>