<div class="container mt-5">
    <mat-form-field style="width: 30%">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilterPayment($event)"
        placeholder="Ex. Sleiman"
        #input
      />
      <span matTextPrefix class="custom-icon">
        <mat-icon>search</mat-icon>
      </span>
    </mat-form-field>
 
   <div class="print-containerByPayment">
    <table
    class="table table-hover"
      mat-table
      [dataSource]="dataSource2"
      matSort
      style="border-radius: 24px"
    >
      <!-- index -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element">
        {{element.name}}
        </td>
      </ng-container>

      <!-- uNIT Column -->
      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by email"
        >
        Email
        </th>
        <td mat-cell *matCellDef="let element">
        {{element.email}}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by address"
        >
        Address
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.address}}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfAdults">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by numberOfAdults"
        >
        Number of Adults
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.address}}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfChildren">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by numberOfChildren"
        >
        Number of Children
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.address}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateTo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by dateTo"
        >
        Date To
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.address}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateFrom">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by dateFrom"
        >
        Date From
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.address}}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by phone"
        >
        Telephone
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.phone}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
    </table>
    </div>
    <mat-paginator
    #paginator2
    [pageSizeOptions]="[5, 10, 25, 100, 500]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    style="border-radius: 0 0 24px 24px"
  >
  </mat-paginator>
    <br>
</div>