<div class="banner" id="banner">
  <video autoplay muted="true" loop>
    <source src="../../../assets/ZANZIBAR [4K] TRAVEL VIDEO.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <h1 class="mb-5">Adventure is Worthwhile<br> 
      Explore with us
    <br>to discover Zanzibar<a> with just one click away</a></h1>
    <a  href="#discover" class="book">Discover More<i class="bi bi-arrow-right"></i></a>
</div>
</div>

     <!-- Booking Start -->
     <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <!-- <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6> -->
              <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Location</span></h1>
          </div>
          <div class="row g-5">
              <div class="col-lg-6">
                  <div class="row g-3">
                      <div class="col-12 text-start">
                          <img class="img-fluid rounded w-10 wow zoomIn" data-wow-delay="0.1s" src="../../../assets/zanzibar-tanzania-travel-photo-20211127152401444-main-image.jpg" style="height: 30rem;">
                      </div>
                                         
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="wow fadeInUp" data-wow-delay="0.2s">
                      <form>
                          <div class="row g-3">
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <input type="text" class="form-control" id="name" placeholder="Your Name">
                                      <label for="name">Your Name</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <input type="email" class="form-control" id="email" placeholder="Your Email">
                                      <label for="email">Your Email</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating date" id="date3" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" id="checkin" placeholder="Check In" data-target="#date3" data-toggle="datetimepicker" />
                                      <label for="checkin">Check In</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating date" id="date4" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" id="checkout" placeholder="Check Out" data-target="#date4" data-toggle="datetimepicker" />
                                      <label for="checkout">Check Out</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <select class="form-select" id="select1">
                                        <option value="1">Adult 1</option>
                                        <option value="2">Adult 2</option>
                                        <option value="3">Adult 3</option>
                                      </select>
                                      <label for="select1">Select Adult</label>
                                    </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <select class="form-select" id="select2">
                                        <option value="1">Child 1</option>
                                        <option value="2">Child 2</option>
                                        <option value="3">Child 3</option>
                                      </select>
                                      <label for="select2">Select Child</label>
                                    </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      <select class="form-select" id="select3">
                                        <option value="1">Room 1</option>
                                        <option value="2">Room 2</option>
                                        <option value="3">Room 3</option>
                                      </select>
                                      <label for="select3">Select A Room</label>
                                    </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                      <label for="message">Special Request</label>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <button class="btn  w-100 py-3" type="submit" style="background-color: var(--nav-color);color: white;" target="_blank" routerLink="/login">Book Now</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Booking End -->

  <!-- Description -->
<div class="container" id="about">
  <div class="row">
  <div class="col-lg-6">
  <div class="trip-ad-content"> 
  <div class="ad-title">
  <h2>About us <span>zanbnb</span></h2>
  </div>
  <!-- <p>WELCOME TO Paza Sauti &nbsp;&nbsp;&nbsp;The system will solve the problem by provide the necessary information on ways to report such behaviour to whom and where.&nbsp;
      Also, Allow users to report anonymously if the abusers seem to be from higher hierarchy
  </p> -->
  <p>
    <span style="color: var(--nav-color);font-weight: 900;font-size: x-large;">At Zanbnb</span>, we are passionate about providing unique and unforgettable experiences
    for travelers around the world. Our journey began with a simple idea: to connect
    people and create a world where anyone can belong anywhere.
  </p>
  <p>
    From cozy apartments to luxurious villas, our platform offers a diverse range of
    accommodations to suit every traveler's needs. Whether you're an adventurer seeking
    thrills or a family looking for a home away from home, Zanbnb has something for everyone.
  </p>
  </div>
  </div>
  <div class="col-lg-6">
 
  </div>
  </div>
  </div>
<!-- //about -->

<!-- card -->
<mat-card  style="padding: 10px;" id="discover">
    <ul>
        <li><a href="#rent" (click)="selectContent('rent')"style="cursor: pointer;color:black;"><i class="nav-icon">🏠</i><br>Rent</a></li>
        <li><a href="#shop" (click)="selectContent('shopping')" style="cursor: pointer;color:black;"><i class="nav-icon">🛒</i><br>Shopping</a></li>
        <li><a href="#spicy" (click)="selectContent('spicies')" style="cursor: pointer;color:black;"><i class="nav-icon">🌶️</i><br>Spices</a></li>
        <li><a href="#restaurant" (click)="selectContent('restaurant')" style="cursor: pointer;color:black;"><i class="nav-icon">🍽️</i><br>Restaurants</a></li>
        <li><a href="#hotel" (click)="selectContent('hotel')" style="cursor: pointer;color:black;"><i class="nav-icon">🏨</i><br>Hotels</a></li>
        <li><a href="#history" (click)="selectContent('historical')" style="cursor: pointer;color:black;"><i class="nav-icon">🏰</i><br>Historical Sites</a></li>
        <li><a href="#sport" (click)="selectContent('sport')" style="cursor: pointer;color:black;"><i class="nav-icon">⚽</i><br>Sports</a></li>
        <li><a href="#transport" (click)="selectContent('transport')" style="cursor: pointer;color:black;"><i class="nav-icon">🚗</i><br>Transports</a></li>
        <li><a href="#forest" (click)="selectContent('forest')" style="cursor: pointer;color:black;"><i class="nav-icon">🌳</i><br>Forest</a></li>
        <li><a href="#beach" (click)="selectContent('beach')" style="cursor: pointer;color:black;"><i class="nav-icon">🏖️</i><br>Beach</a></li>
        <!-- <li><a (click)="toggleLocationContent()" style="cursor: pointer;"><i class="nav-icon">📍</i><br>Location</a></li> -->
        <li><a href="#trip" (click)="selectContent('trip')" style="cursor: pointer;color:black;"><i class="nav-icon">✈️</i><br>Trips</a></li>
        
      </ul>
</mat-card>

<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'shopping'" id="shop">
    <h1 class="text-center">Shopping <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
    
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/kanga.jpeg" class="card-img-top" alt="Kanga">
              <div class="card-body">
                <h5 class="card-title">Kanga</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Darajani</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
      
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/ukili.jpg" class="card-img-top" alt="Ukili">
              <div class="card-body">
                <h5 class="card-title">Ukili</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Forozani</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/dera.jpg" class="card-img-top" alt="Kijora">
                      <div class="card-body">
                        <h5 class="card-title">Kijora</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Darajani</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/duka.jpg" class="card-img-top" alt="Madira">
                      <div class="card-body">
                        <h5 class="card-title">Madira</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Kwabikihindi</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  

    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>
<!-- //end card -->

<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'beach'" id="beach">
    <h1 class="text-center">Beaches <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
     
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/kendwa.jpeg" class="card-img-top" alt="Kendwa Rocks">
              <div class="card-body">
                <h5 class="card-title">Kendwa Rocks</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">North</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/jambiani.webp" class="card-img-top" alt="Jambiani">
              <div class="card-body">
                <h5 class="card-title">Jambiani</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">59km away</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-4 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/mantar.jpeg" class="card-img-top" alt="Mantar">
                      <div class="card-body">
                        <h5 class="card-title">Mantar</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Pemba</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
                <!-- <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/duka.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                    </div>
                </div> -->
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>

<!-- //end card -->
<!-- card for images -->
<div class="container mt-4 mb-4" *ngIf="selectedContent === 'forest'" id="forest">
    <h1 class="text-center">Forest <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/ngezi.jpg" class="card-img-top" alt="Ngezi Forest">
              <div class="card-body">
                <h5 class="card-title">Ngezi Forest</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Pemba</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/jozani.jpeg" class="card-img-top" alt="Jozani Forest">
              <div class="card-body">
                <h5 class="card-title">Jozani Forest</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">South</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-4 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/masingini.jpeg" class="card-img-top" alt="Masingini National Forest Reserve">
                      <div class="card-body">
                        <h5 class="card-title">Masingini National Forest Reserve</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Masingini, West A, Urban-West, Zanzibar</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
                <!-- <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/duka.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                    </div>
                </div> -->
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>

<!-- //end card -->
<!-- card for images -->
<div class="container mt-4 mb-4" *ngIf="selectedContent === 'transport'" id="transport">
    <h1 class="text-center">Transport <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/alphard.jpeg" class="card-img-top" alt="Alphard">
              <div class="card-body">
                <h5 class="card-title">Alphard</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Automatic 7 passengers</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/Toyota-Coaster.jpg" class="card-img-top" alt="Toyota-Coaster">
              <div class="card-body">
                <h5 class="card-title">Toyota-Coaster</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Manual 14 passengers</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-4 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/toyotaprado.jpeg" class="card-img-top" alt="Toyota Prado">
                      <div class="card-body">
                        <h5 class="card-title">Toyota Prado</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Automatic 4 passengers</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
           
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>
<!-- //end card -->
<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'historical'" id="history">
    <h1 class="text-center">Historical Site <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/ngome.jpg" class="card-img-top" alt="Ngome Kongwe">
              <div class="card-body">
                <h5 class="card-title">Ngome Kongwe</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Forozani Urban Urban-West Zanzibar</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/mkunazn.jpg" class="card-img-top" alt="Mkunazini">
              <div class="card-body">
                <h5 class="card-title">Mkunazini</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Mkunazini Urban West Zanzibar</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/sultans.jpeg" class="card-img-top" alt="Sultan Museum">
                      <div class="card-body">
                        <h5 class="card-title">Sultan Museum</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Stone Town Urban West Zanzibar</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/miza.webp" class="card-img-top" alt="Miza Cave">
                      <div class="card-body">
                        <h5 class="card-title">Miza Cave</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Kizimkazi Vilage Zanzibar</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>

<!-- //end card -->
<!-- card for images -->
<div class="container mt-4 mb-4" *ngIf="selectedContent === 'restaurant'" id="restaurant">
    <h1 class="text-center">Restaurant <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/rest1.jpg" class="card-img-top" alt="Forozani Restaurant">
              <div class="card-body">
                <h5 class="card-title">Forozani Restaurant</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Forozani Urban West Zanzibar</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/lukrest.jpg" class="card-img-top" alt="Lukman Restaurant">
              <div class="card-body">
                <h5 class="card-title">Lukman Restaurant</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Mji-Mkongwe Urban  Zanzibar</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/rest2.jpg" class="card-img-top" alt="Tasteme">
                      <div class="card-body">
                        <h5 class="card-title">Taste me</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Mbweni Zanzibar</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/rest3.jpg" class="card-img-top" alt="Madinatul Bahri">
                      <div class="card-body">
                        <h5 class="card-title">Madinatul Bahri</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Mbweni Zanzibar</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>
<!-- //end card -->
<!-- card for images -->
<div class="container mt-4 mb-4" *ngIf="selectedContent === 'hotel'" id="hotel">
    <h1 class="text-center">Hotels <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/melia.jpg" class="card-img-top" alt="Melia Hotel">
              <div class="card-body">
                <h5 class="card-title">Melia Hotel</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Stone Town, Zanzibar</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
              <img src="../../../assets/sahari.jpg" class="card-img-top" alt="Sahari Hotel">
              <div class="card-body">
                <h5 class="card-title">Sahari Hotel</h5>
                <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                <p class="card-text">Bwejuu East Coast Zanzibar</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/stont.jpg" class="card-img-top" alt="Alladin Beach Hotel">
                      <div class="card-body">
                        <h5 class="card-title">Alladin Beach Hotel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Stone Town Zanzibar</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/zanziblue.jpg" class="card-img-top" alt="Zanzibar Blue Hotels">
                      <div class="card-body">
                        <h5 class="card-title">Zanzibar Blue Hotels</h5>
                        <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                        <p class="card-text">Nungwi, North Zanzibar</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>
<!-- //end card -->
<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'spicies'" id="spicy">
    <h1 class="text-center">Spicies <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/kijichi.jpg" class="card-img-top" alt="Grains">
              <div class="card-body">
                <h5 class="card-title">Grains</h5>
                <p class="card-text">Kijichi Spicies Farms</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
        <!--  -->
        <div class="col-lg-4 mt-3">
            <div class="cardbox">
              <img src="../../../assets/dole.jpg" class="card-img-top" alt="Grains">
              <div class="card-body">
                <h5 class="card-title">Grains</h5>
                <p class="card-text">Dole Spicies Farms</p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
              </div>
            </div>
          </div>
          
                <!--  -->
                <div class="col-lg-4 mt-3">
                    <div class="cardbox">
                      <img src="../../../assets/karafuu.jpg" class="card-img-top" alt="Grains">
                      <div class="card-body">
                        <h5 class="card-title">Karafuu</h5>
                        <p class="card-text">Pemba</p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                      </div>
                    </div>
                  </div>
                  
                <!--  -->
                <!-- <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/spec5.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                    </div>
                </div> -->
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>

<!-- //end card -->
<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'sport'" id="sport">
    <h1 class="text-center">Sports <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
      <div class="col-lg-3 mt-3">
        <div class="cardbox">
          <img src="../../../assets/waterbt.jpg" class="card-img-top" alt="Water Sport">
          <div class="card-body">
            <h5 class="card-title">Water Sport</h5>
            <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
            <p class="card-text">Mnemba East Coast Zanzibar</p>
            <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      
        <!--  -->
        <div class="col-lg-3 mt-3">
          <div class="cardbox">
            <img src="../../../assets/snorking.jpg" class="card-img-top" alt="Snorking">
            <div class="card-body">
              <h5 class="card-title">Snorking</h5>
              <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
              <p class="card-text">Bwejuu East Coast Zanzibar</p>
              <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        
                <!--  -->
                <div class="col-lg-3 mt-3">
                  <div class="cardbox">
                    <img src="../../../assets/boat.jpg" class="card-img-top" alt="Boat Sport">
                    <div class="card-body">
                      <h5 class="card-title">Boat Sport</h5>
                      <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                      <p class="card-text">Stone Town Zanzibar</p>
                      <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                    </div>
                  </div>
                </div>
                
                <!--  -->
                <div class="col-lg-3 mt-3">
                  <div class="cardbox">
                    <img src="../../../assets/parasa.jpeg" class="card-img-top" alt="Parasailing">
                    <div class="card-body">
                      <h5 class="card-title">Parasailing</h5>
                      <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                      <p class="card-text">Kendwa & Nungwi North Of Zanzibar</p>
                      <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                    </div>
                  </div>
                </div>
                
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>

<!-- //end card -->
<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'trip'" id="trip">
    <h1 class="text-center">Trips <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
      <div class="col-lg-4 mt-3">
        <div class="cardbox">
          <img src="../../../assets/serengeti.jpg" class="card-img-top" alt="Serengeti">
          <div class="card-body">
            <h5 class="card-title">Serengeti</h5>
            <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
            <p class="card-text">Arusha Regions of Tanzania</p>
            <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      
        <!--  -->
        <div class="col-lg-4 mt-3">
          <div class="cardbox">
            <img src="../../../assets/ngorongo.jpg" class="card-img-top" alt="Ngorongoro">
            <div class="card-body">
              <h5 class="card-title">Ngorongoro</h5>
              <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
              <p class="card-text">West Of Arusha City</p>
              <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        
                <!--  -->
                <div class="col-lg-4 mt-3">
                  <div class="cardbox">
                    <img src="../../../assets/kilimanjaro.jpg" class="card-img-top" alt="Kilimanjaro Mountain">
                    <div class="card-body">
                      <h5 class="card-title">Kilimanjaro Mountain</h5>
                      <h6 class="card-subtitle mb-2 text-muted">$0.0</h6>
                      <p class="card-text">Located In Tanzania</p>
                      <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                    </div>
                  </div>
                </div>
                
                <!--  -->
                <!-- <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/duka.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                    </div>
                </div> -->
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>
<!-- //end card -->
<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'location'">
    <h1 class="text-center">Customers <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
                <img src="../../../assets/kanga.jpeg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
                <img src="../../../assets/ukili.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
            </div>
        </div>
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/dera.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/duka.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>

<!-- //end card -->
<!-- card for images -->

<div class="container mt-4 mb-4" *ngIf="selectedContent === 'rent'" id="rent">
    <h1 class="text-center">Rents <span class="highlight">Favorite Packages</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
                <img src="../../../assets/paje3b3ba.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
            </div>
        </div>
        <!--  -->
        <div class="col-lg-3 mt-3">
            <div class="cardbox">
                <img src="../../../assets/kiwengwa3bed.jpg">
                <h1></h1>
                <h1></h1>
                <p></p>
                <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
            </div>
        </div>
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/Jambiani3be2ba.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-3 mt-3">
                    <div class="cardbox">
                        <img src="../../../assets/mileleVilla.jpg">
                        <h1></h1>
                        <h1></h1>
                        <p></p>
                        <a href="https://api.whatsapp.com/send?phone=255748088569" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
    </div>
    <a routerLink="/menu" class="viewmore">View more<i class="bi bi-arrow-right"></i></a>
</div>

<!-- //end card -->
<!-- // -->

        <!-- Service Start -->
        <div class="container-xxl py-5" id="services">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Our Services</h6>
                    <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" id="rp">
                        <a class="service-item rounded" href="" style="text-decoration: none;">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-hotel fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Rooms & Apartments</h5>
                            <p class="text-body mb-0">Immerse yourself in the comfort of our thoughtfully designed rooms and apartments.
                                 Whether you're looking for a cozy space to unwind 
                                or a fully equipped apartment for an extended stay,</p>
                            
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" id="fr">
                        <a class="service-item rounded" href="" style="text-decoration: none;">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-utensils fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Food & Restaurants</h5>
                            <p class="text-body mb-0">Indulge in a culinary journey with our diverse array of food options and restaurants.
                                 From gourmet delicacies to local flavors, our dining experiences cater to every palate. 
                               </p>
                            
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" id="sf">
                        <a class="service-item rounded" href="" style="text-decoration: none;">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-spa fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Spa & Fitness</h5>
                            <p class="text-body mb-0">Embark on a journey of wellness with our Spa & Fitness services. 
                                Rejuvenate your body and mind in our tranquil spa retreats, 
                                offering a range of therapeutic treatments and relaxation experiences. 
                                .</p>
                            
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" id="sg">
                        <a class="service-item rounded" href="" style="text-decoration: none;">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-swimmer fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Sports & Gaming</h5>
                            <p class="text-body mb-0">Immerse yourself in the world of excitement and competition with 
                                our Sports & Gaming offerings. Whether you're a sports enthusiast or a gaming aficionado, 
                                our facilities provide a dynamic environment for fun and recreation.</p>
                            
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" id="ep">
                        <a class="service-item rounded" href="" style="text-decoration: none;">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-glass-cheers fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Event & Party</h5>
                            <p class="text-body mb-0">Celebrate life's special moments with our Event & Party services. 
                                Whether you're planning a grand celebration or an intimate gathering, 
                               
                           </p>
                        </a> 
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" id="gy">
                        <a class="service-item rounded" href="" style="text-decoration: none;">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-dumbbell fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">GYM & Yoga</h5>
                            <p class="text-body mb-0">Revitalize your body and mind with our GYM & Yoga services. 
                                Elevate your fitness journey in our well-equipped gymnasium, 
                                where modern facilities and expert trainers await. 
                             </p>
                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

                <!-- Testimonial Start -->
              
                <!-- Testimonial End -->
                <div class="container-xxl mt-5 py-5 bg-dark wow zoomIn" id="review" data-wow-delay="0.1s" style="margin-bottom: 90px; background: url(../../../assets/img/bch.jpeg);background-position: center;background-size: cover;">
                  <div class="owl-carousel testimonial-carousel py-5">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-4 col-md-6 mb-3"> <!-- Added mb-3 class here -->
                                  <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                      <p> "Our stay at this incredible Zanbnb was nothing short of amazing! The room we booked was not only tastefully decorated but also incredibly cozy. The attention to detail in the accommodation made us feel right at home. The staff was friendly"</p>
                                      <div class="d-flex align-items-center">
                                          <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/person1.jpeg" style="width: 45px; height: 45px;">
                                          <div class="ps-3">
                                              <h6 class="fw-bold mb-1">Jone D.</h6>
                                              <small>Profession</small>
                                          </div>
                                      </div>
                                      <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-6 mb-3"> <!-- Added mb-3 class here -->
                                  <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                      <p>"Our recent stay included an exquisite dining experience that left us wanting more! The variety of food options, from local specialties to international cuisines, was impressive. The restaurant staff was attentive and provided excellent recommendations."</p>
                                      <div class="d-flex align-items-center">
                                          <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/person4.jpeg" style="width: 45px; height: 45px;">
                                          <div class="ps-3">
                                              <h6 class="fw-bold mb-1">Mark S.</h6>
                                              <small>Profession</small>
                                          </div>
                                      </div>
                                      <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-6 mb-3"> <!-- Added mb-3 class here -->
                                  <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                      <p>"We chose this Zanbnb for a special celebration, and it exceeded our expectations in every way! The event planning team worked closely with us to ensure our party was a success. The venue was stunning, and the attention to detail was impeccable."</p>
                                      <div class="d-flex align-items-center">
                                          <img class="img-fluid flex-shrink-0 rounded" src="../../../assets/img/person3.jpeg" style="width: 45px; height: 45px;">
                                          <div class="ps-3">
                                              <h6 class="fw-bold mb-1">Sarah</h6>
                                              <small>Profession</small>
                                          </div>
                                      </div>
                                      <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
                <br>
                <br>