<div class="banner" id="banner">
  <video autoplay muted loop>
    <source src="../../../assets/ZANZIBAR [4K] TRAVEL VIDEO.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <h1 class="mb-5">Adventure is Worthwhile<br> 
      Discover new place
    <br>With us <a>Adventure awaits</a></h1>
    <a routerLink="/#" class="book">Discover More<i class="bi bi-arrow-right"></i></a>
</div>
</div>

     <!-- Booking Start -->
     <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <!-- <h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6> -->
              <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Location</span></h1>
          </div>
          <div class="row g-5">
              <div class="col-lg-6">
                  <div class="row g-3">
                      <div class="col-12 text-start">
                          <img class="img-fluid rounded w-10 wow zoomIn" data-wow-delay="0.1s" src="../../../assets/zanzibar-tanzania-travel-photo-20211127152401444-main-image.jpg" style="height: 30rem;">
                      </div>
                                         
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="wow fadeInUp" data-wow-delay="0.2s">
                      <form>
                          <div class="row g-3">
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <input type="text" class="form-control" id="name" placeholder="Your Name">
                                      <label for="name">Your Name</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <input type="email" class="form-control" id="email" placeholder="Your Email">
                                      <label for="email">Your Email</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating date" id="date3" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" id="checkin" placeholder="Check In" data-target="#date3" data-toggle="datetimepicker" />
                                      <label for="checkin">Check In</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating date" id="date4" data-target-input="nearest">
                                      <input type="text" class="form-control datetimepicker-input" id="checkout" placeholder="Check Out" data-target="#date4" data-toggle="datetimepicker" />
                                      <label for="checkout">Check Out</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <select class="form-select" id="select1">
                                        <option value="1">Adult 1</option>
                                        <option value="2">Adult 2</option>
                                        <option value="3">Adult 3</option>
                                      </select>
                                      <label for="select1">Select Adult</label>
                                    </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-floating">
                                      <select class="form-select" id="select2">
                                        <option value="1">Child 1</option>
                                        <option value="2">Child 2</option>
                                        <option value="3">Child 3</option>
                                      </select>
                                      <label for="select2">Select Child</label>
                                    </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      <select class="form-select" id="select3">
                                        <option value="1">Room 1</option>
                                        <option value="2">Room 2</option>
                                        <option value="3">Room 3</option>
                                      </select>
                                      <label for="select3">Select A Room</label>
                                    </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                      <label for="message">Special Request</label>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <button class="btn  w-100 py-3" type="submit" style="background-color: var(--nav-color);color: white;">Book Now</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Booking End -->

  <!-- Description -->
<div class="container" id="aboutus">
  <div class="row">
  <div class="col-lg-6">
  <div class="trip-ad-content"> 
  <div class="ad-title">
  <h2>About us <span>zanbnb</span></h2>
  </div>
  <!-- <p>WELCOME TO Paza Sauti &nbsp;&nbsp;&nbsp;The system will solve the problem by provide the necessary information on ways to report such behaviour to whom and where.&nbsp;
      Also, Allow users to report anonymously if the abusers seem to be from higher hierarchy
  </p> -->
  <p>
    <span style="color: var(--nav-color);font-weight: 900;font-size: x-large;">At Zanbnb</span>, we are passionate about providing unique and unforgettable experiences
    for travelers around the world. Our journey began with a simple idea: to connect
    people and create a world where anyone can belong anywhere.
  </p>
  <p>
    From cozy apartments to luxurious villas, our platform offers a diverse range of
    accommodations to suit every traveler's needs. Whether you're an adventurer seeking
    thrills or a family looking for a home away from home, Airbnb has something for everyone.
  </p>
  </div>
  </div>
  <div class="col-lg-6">
 
  </div>
  </div>
  </div>
<!-- //about -->



        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Our Services</h6>
                    <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="service-item rounded" href="">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-hotel fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Rooms & Appartment</h5>
                            <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <a class="service-item rounded" href="">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-utensils fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Food & Restaurant</h5>
                            <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="service-item rounded" href="">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-spa fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Spa & Fitness</h5>
                            <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <a class="service-item rounded" href="">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-swimmer fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Sports & Gaming</h5>
                            <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="service-item rounded" href="">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-glass-cheers fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">Event & Party</h5>
                            <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <a class="service-item rounded" href="">
                            <div class="service-icon bg-transparent border rounded p-1">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-dumbbell fa-2x text-primary"></i>
                                </div>
                            </div>
                            <h5 class="mb-3">GYM & Yoga</h5>
                            <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

                <!-- Testimonial Start -->
                <div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
                    <div class="container">
                        <div class="owl-carousel testimonial-carousel py-5">
                            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="../../assets/img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Client Name</h6>
                                        <small>Profession</small>
                                    </div>
                                </div>
                                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                            </div>
                            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="../../assets/img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Client Name</h6>
                                        <small>Profession</small>
                                    </div>
                                </div>
                                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                            </div>
                            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="../../assets/img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Client Name</h6>
                                        <small>Profession</small>
                                    </div>
                                </div>
                                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial End -->