<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let beach of beaches let beachIndex = index">
        <div class="card mb-4">
          <div [attr.id]="'carouselExampleControls' + beachIndex" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of beach.beachImages; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
                <img [src]="image.url" alt="beach pictures" class="d-block w-100 carousel-image">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleControls' + beachIndex" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleControls' + beachIndex" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <p>{{ beach.beachName }}</p>
            <p>{{ beach.beachLocation }}</p>
            <p>{{ beach.beachPrice | currency }}</p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- form -->
  <ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Set Your Book Now</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="d('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="propertyForm" >
       <div class="row">
        <!-- name -->
        <mat-form-field appearance="fill" class="col-lg-6">
          <mat-label> Name</mat-label>
          <input matInput type="text"  required placeholder="Name" >
        </mat-form-field>
        <!-- email -->
       <mat-form-field appearance="fill" class="col-lg-6">
          <mat-label> Email</mat-label>
          <input matInput type="email"  required placeholder="Email" >
        </mat-form-field>
        <!-- address -->
        <mat-form-field appearance="fill" class="col-lg-6">
          <mat-label> Address</mat-label>
          <input matInput type="text"  required placeholder="Address" >
        </mat-form-field>
        <!-- phone -->
        <mat-form-field appearance="fill" class="col-lg-6">
          <mat-label>Telephone</mat-label>
          <span matTextPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <!-- from -->
        <mat-form-field  appearance="fill" class="col-lg-6">
          <mat-label>From</mat-label>
          <input matInput [matDatepicker]="picker1">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <!-- to -->
        <mat-form-field  appearance="fill" class="col-lg-6">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <!-- adults -->
        <mat-form-field appearance="fill" class="col-lg-6">
          <mat-label> Adult(s)</mat-label>
          <input matInput type="number"  required placeholder="Adult(s)" >
        </mat-form-field>
        <!-- childrens -->
        <mat-form-field appearance="fill" class="col-lg-6">
          <mat-label> Children(s)</mat-label>
          <input matInput type="number"  required placeholder="Children(s)" >
        </mat-form-field>
       </div>
       <hr>
       <div class="row">
         <div class="col-sm-6">
           <button mat-raised-button color="primary" (click)="bookNow()" class="m-2">
             Add
           </button>
  
           <button
             mat-raised-button
             color="accent"
             (click)="d('Cross click')"
           >
             Close
           </button>
         </div>
       </div>
      </form>
    </div>
  </ng-template>