<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let rent of rents">
      <div class="card mb-4">
        <div id="carousel{{rent.id}}" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let image of rent.rentImages; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
              <img [src]="image.url" alt="rents pictures" class="d-block w-100 carousel-image">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <p>{{ rent.rentName }}</p>
          <p>{{ rent.rentLocation }}</p>
          <p>{{ rent.rentPrice | currency }}</p>
          <a (click)="openModal(data, rent.id)" id="data" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Booking Form Modal -->
  <ng-template #data let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Set Your Book Now</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="d('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="propertyForm" (ngSubmit)="bookNow()">
        <div class="row">
          <!-- Name -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name">
            <mat-error *ngIf="propertyForm.get('name')?.hasError('required')">
              Name is required.
            </mat-error>
          </mat-form-field>
      
          <!-- Email -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email">
            <mat-error *ngIf="propertyForm.get('email')?.hasError('required')">
              Email is required.
            </mat-error>
            <mat-error *ngIf="propertyForm.get('email')?.hasError('email')">
              Enter a valid email address.
            </mat-error>
          </mat-form-field>
      
          <!-- Address -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>Address</mat-label>
            <input matInput type="text" placeholder="Address" formControlName="address">
            <mat-error *ngIf="propertyForm.get('address')?.hasError('required')">
              Address is required.
            </mat-error>
          </mat-form-field>
      
          <!-- Phone -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>Telephone</mat-label>
            <input type="tel" matInput placeholder="555-555-1234" formControlName="phone">
            <mat-error *ngIf="propertyForm.get('phone')?.hasError('required')">
              Phone number is required.
            </mat-error>
          </mat-form-field>
      
          <!-- From Date -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dateFrom">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="propertyForm.get('dateFrom')?.hasError('required')">
              Date From is required.
            </mat-error>
          </mat-form-field>
      
          <!-- To Date -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="dateTo">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="propertyForm.get('dateTo')?.hasError('required')">
              Date To is required.
            </mat-error>
          </mat-form-field>
      
          <!-- Adults -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>Adult(s)</mat-label>
            <input matInput type="number" placeholder="Adult(s)" formControlName="numberOfAdults">
            <mat-error *ngIf="propertyForm.get('numberOfAdults')?.hasError('required')">
              Number of Adults is required.
            </mat-error>
          </mat-form-field>
      
          <!-- Children -->
          <mat-form-field appearance="fill" class="col-lg-6">
            <mat-label>Children(s)</mat-label>
            <input matInput type="number" placeholder="Children(s)" formControlName="numberOfChildren">
            <mat-error *ngIf="propertyForm.get('numberOfChildren')?.hasError('required')">
              Number of Children is required.
            </mat-error>
          </mat-form-field>

          <!-- Beach Package and User ID fields are hidden since they are set programmatically -->
        <input type="hidden" formControlName="beachPackageId">
        <input type="hidden" formControlName="userId">
        </div>
      
        <hr>
      
        <div class="row">
          <div class="col-sm-6">
            <button mat-raised-button color="primary" class="m-2" type="submit">
              Add
            </button>
      
            <button mat-raised-button color="accent" (click)="d('Cross click')">
              Close
            </button>
          </div>
        </div>
      </form>
      
    </div>
  </ng-template>