   
    <!-- Header Start -->
    <div class="container-fluid  px-0">
        <div class="row gx-0">
            <div class="col-lg-3  d-none d-lg-block" style="background: var(--nav-color);">
                <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <img src="../../../assets/znz.jpg" alt="" style="height:2rem;border-radius: 50%;">
                    <h1 class="m-0 " style="color: white;">&nbsp;&nbsp;zanbnb</h1>
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row gx-0 bg-white d-none d-lg-flex">
                    <div class="col-lg-7 px-5 text-start">
                        <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                            <i class="fa fa-envelope text-primary me-2"></i>
                            <p class="mb-0">{{"omaromarbcs@gmail.com"}}</p>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2">
                            <i class="fa fa-phone-alt text-primary me-2"></i>
                            <p class="mb-0">+255748088569</p>
                        </div>
                    </div>
                    <div class="col-lg-5 px-5 text-end">
                        <div class="d-inline-flex align-items-center py-2">
                            <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark p-3 p-lg-0" style="background: var(--nav-color);">
                    <a href="index.html" class="navbar-brand d-block d-lg-none">
                      
                        <h1 class="m-0 " style="color: white;">  <img src="../../../assets/znz.jpg" alt="" style="height:2rem;border-radius: 50%;">&nbsp;&nbsp;zanbnb</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="#banner" id="#" class="nav-item nav-link active">Home</a>
                            <a href="#about"  class="nav-item nav-link">About</a>
                            <a href="#discover"  class="nav-item nav-link">Packages</a>
                            <a href="#discover"  class="nav-item nav-link">Gallary</a>
                            <a href="#review"  class="nav-item nav-link">Review</a>
                            <a href="#services"  class="nav-item nav-link">Services</a>
                            <a href="#contact"  class="nav-item nav-link">Contact</a>

                           
                        </div>
                        <a (click)="open(content)"  class="nav-item nav-link" style="color: white;cursor: pointer;margin-right: 1rem;">Login</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Log-In</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="login(username, password)">
                <div class="mb-3">
                  <div class="single-column">
                    <mat-form-field class="full-width" style="width: 100%;">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="username" required>
                    </mat-form-field>
                  </div>
                  <div class="single-column">
                    <mat-form-field class="full-width" style="width: 100%;">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                    </mat-form-field>
                  </div>
                  <a href="#" style="text-decoration: none;" (click)="opens(contents)">Haven't an account??</a>
                  <br>
                  <a href="#" style="text-decoration: none;">Forget Password</a>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-dark">Login</button>
                </div>
              </form>
              
        </div>
        
    </ng-template>

    <ng-template #contents let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Log-In</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <div class="single-column">
                        <mat-form-field class="full-width" style="width: 100%;">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="F.Name" type="text">
                        </mat-form-field>
                    </div>
                    <div class="single-column">
                        <mat-form-field class="full-width" style="width: 100%;">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="L.Name" type="text">
                        </mat-form-field>
                    </div>
                    <div class="single-column">
                        <mat-form-field class="full-width" style="width: 100%;">
                            <mat-label>UserName</mat-label>
                            <input matInput placeholder="Username" type="text">
                        </mat-form-field>
                    </div>
                    <div class="single-column">
                        <mat-form-field class="full-width" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ex. abc@gmail.com" type="email">
                        </mat-form-field>
                    </div>
                    <div class="single-column">
                        <mat-form-field class="full-width" style="width: 100%;">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" type="password">
                        </mat-form-field>
                    </div>
                  
                </div>
            </form>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Register</button>
        </div>
    </ng-template>
