<div class="container mt-5">
    <mat-form-field style="width: 30%">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilterPayment($event)"
        placeholder="Ex. Sleiman"
        #input
      />
      <span matTextPrefix class="custom-icon">
        <mat-icon>search</mat-icon>
      </span>
    </mat-form-field>
 
   <div class="">
    <table
    class="table table-hover"
      mat-table
      [dataSource]="dataSource2"
      matSort
      style="border-radius: 24px"
    >
      <!-- index -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="restaurantName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element">
        {{element.restaurantName}}
        </td>
      </ng-container>

      <!-- uNIT Column -->
      <ng-container matColumnDef="restaurantPrice">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by price"
        >
          Price
        </th>
        <td mat-cell *matCellDef="let element">
        {{element.restaurantPrice}}
        </td>
      </ng-container>

      <ng-container matColumnDef="restaurantLocation">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by location"
        >
          Location
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.restaurantLocation}}
        </td>
      </ng-container>

      <ng-container matColumnDef="restaurantImages">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by image"
        >
          Image
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="showImages(element)">
            <mat-icon>images</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by location"
        >
          Action
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
    </table>
    </div>
    <mat-paginator
    #paginator2
    [pageSizeOptions]="[5, 10, 25, 100, 500]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    style="border-radius: 0 0 24px 24px"
  >
  </mat-paginator>
    <br>
</div>