<!-- <h2>Frequently Asked Questions</h2>
<div *ngFor="let faq of faqData">
  <div class="faq-item">
    <div class="question">
      <i class="fas fa-question-circle"></i>
      {{ faq.question }}
    </div>
    <div class="answer">
      {{ faq.answer }}
    </div>
  </div>
</div> -->

<div class="steps-container">
  <input type="radio" name="steps" id="step01" checked />   
  <label for="step01"><span>Get Started:</span></label>
  <div class="description">
    <p><strong>01.</strong>Start your Zanbnb journey by signing up on the website or app.</p>
    <p><strong>02.</strong>Complete your profile with accurate information.</p>
    <p><strong>03.</strong>Verify your identity to build trust within the community.</p>
  </div>
</div>
<div class="steps-container">
  <input type="radio" name="steps" id="step02" checked />
  <label for="step02"><span>Help for reservation:</span></label>
  <div class="description">
    <p><strong>01.</strong>Search for accommodations based on your destination and preferences.</p>
    <p><strong>02.</strong>Read reviews from previous guests to make informed decisions.</p>
    <p><strong>03.</strong>Contact hosts for any inquiries or assistance needed.</p>
  </div>
</div>
<div class="steps-container ">
  <input type="radio" name="steps" id="step03" checked />
  <label for="step03"><span>Canceling the booking:</span></label>
  <div class="description">
    <p><strong>01.</strong>Understand Zanbnb's cancellation policies before making a reservation.
    </p>  
    <p><strong>02.</strong>If needed, cancel a booking within the allowed timeframe to avoid penalties.
    </p> 
    <p><strong>03.</strong>Communicate with the host regarding the cancellation process.
    </p> 
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step04" checked />
  <label for="step04"><span>How to book frequently:</span></label>
  <div class="description">
    <p><strong>01.</strong>Familiarize yourself with the booking process to make frequent reservations smoothly.
    </p>  
    <p><strong>02.</strong>Use filters and search options to find suitable accommodations quickly.
    </p>  
    <p><strong>03.</strong>Keep track of your bookings and manage them efficiently.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step05" checked />
  <label for="step05"><span>Paying my trip:</span></label>
  <div class="description">
    <p><strong>01.</strong>Review the payment details and ensure a secure transaction.
    </p>  
    <p><strong>02.</strong>Make payments using the provided payment methods securely.
    </p>  
    <p><strong>03.</strong>Contact Zanbnb support for any payment-related issues or inquiries.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step06" checked />
  <label for="step06"><span>Payment Fail:</span></label>
  <div class="description">
    <p><strong>01.</strong>Troubleshoot payment failures by ensuring accurate payment information.
    </p> 
    <p><strong>02.</strong>Check for any restrictions or issues with your payment method.
    </p> 
    <p><strong>03.</strong>Contact Zanbnb support for assistance in resolving payment failures.
    </p>  
  </div>
</div>