<!-- <h2>Frequently Asked Questions</h2>
<div *ngFor="let faq of faqData">
  <div class="faq-item">
    <div class="question">
      <i class="fas fa-question-circle"></i>
      {{ faq.question }}
    </div>
    <div class="answer">
      {{ faq.answer }}
    </div>
  </div>
</div> -->

<div class="steps-container">
  <input type="radio" name="steps" id="step01" checked />   
  <label for="step01"><span>01</span></label>
  <div class="description">
    <p><strong>01</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
</div>
<div class="steps-container">
  <input type="radio" name="steps" id="step02" checked />
  <label for="step02"><span>02</span></label>
  <div class="description">
    <p><strong>02</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
</div>
<div class="steps-container ">
  <input type="radio" name="steps" id="step03" checked />
  <label for="step03"><span>03</span></label>
  <div class="description">
    <p><strong>03</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step04" checked />
  <label for="step04"><span>04</span></label>
  <div class="description">
    <p><strong>04</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step05" checked />
  <label for="step05"><span>05</span></label>
  <div class="description">
    <p><strong>05</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step06" checked />
  <label for="step06"><span>06</span></label>
  <div class="description">
    <p><strong>06</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step07" checked />
  <label for="step07"><span>07</span></label>
  <div class="description">
    <p><strong>07</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step08" checked />
  <label for="step08"><span>08</span></label>
  <div class="description">
    <p><strong>08</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>  
  </div>
</div>
    <div class="steps-container ">
  <input type="radio" name="steps" id="step09" checked />
  <label for="step09"><span>09</span></label>
  <div class="description">
    <p><strong>09</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit sit amet odio volutpat sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>  
  </div>
</div>