    <br>
        <!-- Footer Start -->
        <div class="container-fluid  text-light footer wow fadeIn" data-wow-delay="0.1s" style="background-color: var(--foot-color);">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a href="index.html" style="text-decoration: none;"><h1 class="text-white text-uppercase mb-3">Zanbnb</h1></a>
                            <p class="text-white mb-0">
								At Zanbnb <a class="text-dark fw-medium" style="text-decoration: none;" href="https://htmlcodex.com/hotel-html-template-pro">we are – passionate</a>,about providing unique for travelers around the world. Our journey began with a simple idea: to connect
                                people and create a world where anyone can belong anywhere.
							</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-dark fw-medium text-start text-primary text-uppercase mb-4" style="font-size:small;" id="contact">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>443 Street, Mombasa, ZNZ</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+255748088569</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{"omaromarbcs@gmail.com"}}</p>
                        <div class="d-flex pt-2">
                            <a style="text-decoration: none;" class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a style="text-decoration: none;" class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a style="text-decoration: none;" class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a style="text-decoration: none;" class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-dark fw-medium text-start text-primary text-uppercase mb-4" style="font-size:small;">Company</h6>
                                <a style="text-decoration: none;" class="btn btn-link" href="#about">About Us</a>
                                <a style="text-decoration: none;" class="btn btn-link" target="_blank" href="https://api.whatsapp.com/send?phone=255748088569">Contact Us</a>
                                <a style="text-decoration: none;" class="btn btn-link" href="">Privacy Policy</a>
                                <a style="text-decoration: none;" class="btn btn-link" href="">Terms & Condition</a>
                                <a style="text-decoration: none;" class="btn btn-link" href="">Support</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-dark fw-medium text-start text-primary text-uppercase mb-4" style="font-size:small;">Services</h6>
                                <a style="text-decoration: none;" class="btn btn-link" href="#fr">Food & Restaurant</a>
                                <a style="text-decoration: none;" class="btn btn-link" href="#sf">Spa & Fitness</a>
                                <a style="text-decoration: none;" class="btn btn-link" href="#sg">Sports & Gaming</a>
                                <a style="text-decoration: none;" class="btn btn-link" href="#ep">Event & Party</a>
                                <a style="text-decoration: none;" class="btn btn-link" href="#gy">GYM & Yoga</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a style="text-decoration: none;" class="border-bottom" href="#">Zanbnb</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a style="text-decoration: none;" class="border-bottom" href="https://htmlcodex.com">OMO</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a style="text-decoration: none;" href="#banner">Home</a>
                                <!-- <a style="text-decoration: none;" (click)="open(content)">FQAs</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">FAQs</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
            
              <div class="faq-item">
                <h5 class="question">How do I book a stay?</h5>
                <p class="answer">To book a stay, simply search for your desired location, dates, and preferences on our website or app. Once you find a listing you like, click on it to view more details and then click "Book" to proceed with the reservation process.</p>
              </div>
              <div class="faq-item">
                <h5 class="question">What are the check-in and check-out times?</h5>
                <p class="answer">Check-in and check-out times vary depending on the host and property. You can find this information on the listing page under the "House Rules" section. Hosts may also offer flexible check-in and check-out options, so be sure to communicate with them if you have specific timing requirements.</p>
              </div>
              <div class="faq-item">
                <h5 class="question">Can I cancel my reservation?</h5>
                <p class="answer">Cancellation policies vary depending on the host and property. You can find the cancellation policy for each listing on the listing page under the "Cancellation Policy" section. Be sure to review the policy before booking, and if you need to cancel, you can do so through your Airbnb account.</p>
              </div>
              
            </div>
          </ng-template> -->
          
    
        <!-- Footer End -->

          