  
<h1 style="text-align: center; padding: 1em 0">List Of Packages</h1>
<div class="mat-elevation-z2" style="border-radius: 24px;">
  <mat-tab-group fitInkBarToContent>
    <!-- Rent -->
    <mat-tab label="Rent">
      <ng-template mat-tab-label>
        <mat-icon>house</mat-icon>&nbsp;
        <span>Rent Package</span>
      </ng-template>
      <br>
      <app-rents-list/>
    </mat-tab>

    <!--Shopping -->
    <mat-tab label="Shopping">
      <ng-template mat-tab-label>
        <mat-icon>add_shopping_cart</mat-icon>&nbsp;
        <span>Shopping Package</span>
      </ng-template>
      <br/>
        <app-shopp-list/>
    </mat-tab>

    <!-- Spicies -->
    <mat-tab label="Spicies">
      <ng-template mat-tab-label>
        <mat-icon>spa</mat-icon>&nbsp;
        <span>Spicies Package</span>
      </ng-template>
      <br/>
     <app-spice-list/>
    </mat-tab>

    <!-- Restaurant -->
    <mat-tab label="Restaurants">
      <ng-template mat-tab-label>
        <mat-icon>restaurant</mat-icon>&nbsp;
        <span>Restaurants Package</span>
      </ng-template>
      <br/>
      <app-restaurant-list/>
    </mat-tab>

    <!-- Hotel -->
    <mat-tab label="Hotels">
      <ng-template mat-tab-label>
        <mat-icon>Hotel</mat-icon>&nbsp;
        <span>Hotels Package</span>
      </ng-template>
        <br>
       <app-hotel-list/>
    </mat-tab>

    <!-- History -->
    <mat-tab label="Historical Site">
      <ng-template mat-tab-label>
        <mat-icon>history</mat-icon>&nbsp;
        <span>Historical Site Package</span>
      </ng-template>
     <br/>
      <app-historical-list/>
    </mat-tab>

    <!-- Sports -->
    <mat-tab label="Sports">
      <ng-template mat-tab-label>
        <mat-icon>sports</mat-icon>&nbsp;
        <span>Sports Package</span>
      </ng-template>
      <br>
      <app-sport-list/>
    </mat-tab>

    <!-- transport -->
    <mat-tab label="Transports">
      <ng-template mat-tab-label>
        <mat-icon>motorcycle</mat-icon>&nbsp;
        <span>Transports Package</span>
      </ng-template>
      <br>
      <app-transport-list/>
    </mat-tab>

    <!-- Forest -->
    <mat-tab label="Forest">
      <ng-template mat-tab-label>
        <mat-icon>forest</mat-icon>&nbsp;
        <span>Forest Package</span>
      </ng-template>
      <br>
     <app-forest-list/>
    </mat-tab>

    <!-- Beach -->
    <mat-tab label="Beach">
      <ng-template mat-tab-label>
        <mat-icon>water</mat-icon>&nbsp;
        <span>Beach Package</span>
      </ng-template>
      <br>
      <app-beach-list/>
    </mat-tab>

    <!-- Trips -->
    <mat-tab label="Trips">
      <ng-template mat-tab-label>
        <mat-icon>flight_land</mat-icon>&nbsp;
        <span>Trips Package</span>
      </ng-template>
      <br>
    <app-trips-list/>
    </mat-tab>
  </mat-tab-group>
  <br>
</div>





 