<div class="container">
    <div class="row">
        <!-- MAIN -->
        <main class="main-container">
            <div class="main-cards">
                <!-- 1 card -->
                <div class="card">
                    <div class="card-inner">
                        <p class="test-primary">Packages</p>
                        <mat-icon color="primary">style</mat-icon>
                    </div>
                    <span class="text-primary font-weight-bold">249</span>
                </div>
                <!-- 2 card -->
                <div class="card">
                    <div class="card-inner">
                        <p class="test-primary">Booked</p>
                        <mat-icon color="accent">book</mat-icon>
                    </div>
                    <span class="text-primary font-weight-bold">24</span>
                </div>
                <!-- 3 card -->
                <div class="card">
                    <div class="card-inner">
                        <p class="test-primary">Failures</p>
                        <mat-icon color="warn">error</mat-icon>
                    </div>
                    <span class="text-primary font-weight-bold">49</span>
                </div>
                <!-- 4 card -->
                <div class="card">
                    <div class="card-inner">
                        <p class="test-primary">Users</p>
                        <mat-icon color="primary">people</mat-icon>
                    </div>
                    <span class="text-primary font-weight-bold">29</span>
                </div>
                <!-- end card -->
            </div>
        </main>
        <!-- End Of MAIN -->
    </div>
</div>
