<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let transport of transports; let transportIndex = index">
        <div class="card mb-4">
          <div [attr.id]="'carouselExampleControls' + transportIndex" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of transport.transportImages; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
                <img [src]="image.url" alt="sports pictures" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleControls' + transportIndex" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleControls' + transportIndex" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <p>{{ transport.transportName }}</p>
            <p>{{ transport.transportLocation }}</p>
            <p>{{ transport.transportPrice | currency }}</p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  